@font-face {
    font-family: "JetBrains Mono";
    src: url(fonts/JetBrainsMono-Regular.woff2);
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "VGA";
    src: url(fonts/Perfect\ DOS\ VGA\ 437\ Win.woff2);
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    background-image: url(images/background.png);
    background-size: 100%;
    background-color: #131713;
    color: #eae5ae;
    font-family: "JetBrains Mono";
    image-rendering: pixelated;
}

p {
    padding: 10px;
}

h4 {
    padding: 10px;
}

h1 {
    text-align: center;
    font-family: "VGA";
    font-size: 50px;
    color: #f91e08;
}

hr {
    color: #4f7424;
}

h2 {
    text-align: center;
    font-family: "VGA";
    color: #f3610e;
    font-size: 30px;
}

.container {
    display: flex;
    justify-content: space-around;
}

.sidebar {
    border: 3px double #4f7424;
    width: 27%;
    background-color: #131713;
}

.content {
    border: 3px double #4f7424;
    width: 70%;
    background-color: #131713;
}

.banner {
    width: 95%;
    border: 3px double #f3610e;
    margin-top: 10px;
}
