@font-face {
    font-family: "JetBrains Mono";
    src: url(fonts/JetBrainsMono-Regular.woff2);
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "VGA";
    src: url(fonts/Perfect\ DOS\ VGA\ 437\ Win.woff2);
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    background-image: url(images/background.png);
    background-size: 100%;
    background-color: #131713;
    color: #eae5ae;
    font-family: "JetBrains Mono";
    image-rendering: pixelated;
}

p {
    padding: 10px;
}

h4 {
    padding: 10px;
}

h1 {
    text-align: center;
    font-family: "VGA";
    font-size: 50px;
    color: #f91e08;
}

hr {
    color: #4f7424;
}

h2 {
    text-align: center;
    font-family: "VGA";
    color: #f3610e;
    font-size: 30px;
}

a {
    color: #f3610e;
    text-decoration: none;
}

h3 {
    font-family: "VGA";
    font-size: 30px;
    margin: 20px;
}

.container {
    display: flex;
    justify-content: space-around;
}

.sidebar {
    border: 3px double #4f7424;
    width: 27%;
    background-color: #131713;
}

.content {
    border: 3px double #4f7424;
    width: 70%;
    background-color: #131713;
}

.banner {
    width: 95%;
    border: 3px double #f3610e;
    margin-top: 10px;
}

.directory {
    display: flex;
    max-width: 80%;
    margin: auto;
    margin-bottom: 10px;
    border: 3px double #f3610e;
    align-items: center;
    justify-content: space-around;
}

.directory a {
    display: flex;
    align-items: center;
    width: 100%;
}

.dirimg {
    width: 70px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
    border: 3px double #f91e08;
    justify-content: right;
    margin: 4px;
}

.dirtxt {
    flex: 1;
    font-size: 25px;
    margin: 0px;
}
